*{
  all: unset;
}

.sideBar{
  margin-left: 10px;
  background-color: #0b0e14;
}
.bar{
  border-radius: 3px;
  padding: 15px 5px;
}

//top 
.linux{
  color:#1793d1;
  margin: 0 4px;
  padding: 0 4px 0 0 ;
}

.workspaces{
  background-color: #1f2430;
  margin: 10px 3px;
  border-radius: 3px;
  padding: 5px 4px 5px 0;
}


//bottom  
.bat{
  padding: 5px 4px 5px 0 ;
  color: #ffb454; 
}

.green{
  padding: 5px 4px 5px 0 ;
  color: #8BD49C;
}

.red{
  padding: 5px 4px 5px 0 ;
  color: #d95757 ;
}
.time{
  background-color: #1f2430;
  margin: 10px 3px;
  padding: 5px;
  border-radius: 3px;
}

.power{
  color:#d95757
}

