*{
  all: unset;
}

.bar{
  background-color: #0b0e14;
  border-radius: 3px;
  padding: 15px 1;
}

//top 
.linux{
  color:#1793d1;
  margin: 0 4px;
  padding: 0 4px 0 0 ;
}

//bottom  

.time{
  background-color: #1f2430;
  margin: 10px 3px;
  border-radius: 3px;
}

.power{
  color:#d95757
}

.workspaces{
  background-color: #1f2430;
  margin: 10px 3px;
  border-radius: 3px;
  padding: 5px 0;
}
