* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family:"Hack Nerd Font" ;
  font-size: 9px;
  border-radius: 50px;
  
}

//Global Styles
.bar {
  color: #999999;
  margin: 3px 0 0 0 ;
  //border-radius:5px
}

// Styles on classes (see eww.yuck for more information)

// ############# metric css 
.metric{
  margin-left: 10px;
  margin-right: 20px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 6px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 50px;
}
//############################## myw 

.myw {
  all: unset;
  margin-left: 10px;
  margin-right:20px;
}
.battlow {
  all: unset ;
  margin-left:10px ; 
  margin-right:20px ;
  animation-name : clin ;
  animation-duration : 1s ;
  animation-iteration-count : infinite ;

}

//#########################" pray
.Pray{
  background-color:#999999 ;
  color: #111111;
  font-size: 0.8rem; 
  padding: 0 20px;
  margin-left:40px ;
}

.label-ram {
  font-size: large;
}

.workspaces button {
  font-size:0.8rem ;
}

.workspaces button:hover {
  color: white;
}

.active {
  color: white;
}

.sidestuff , .workspaces {
  background : #111111 ;
  //border : solid 0.9px rgba(255, 0, 0, 0.7);
  padding : 0 10px ;
  //border-radius: 10px;
}

@keyframes clin {
  0% {color : red} 
  100% {color : #4e4e4e }
}

.rightBar {
background-color: #111111 ;
padding : 0 20px ;
}
.charging {
  all: unset ; 
  margin-left: 10px;
  margin-right:20px;
  color: green 
}
